/* Achievements Page */
.achievements {
    background-color: var(
      --MainBgblackColor
    ); /* Dark background to match theme */
    color: var(--TextColorWhite);
    padding: 40px;
  }
  
  .achievements h1 {
    text-align: center;
    font-size: 2.5rem;
    color: var(--TextColorLightPurple);
    margin-bottom: 40px;
  }
  
  .achievement-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .achievement-card {
    background: var(--MainBgpurpleColor);
    color: var(--TextColorWhite);
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .achievement-card h2 {
    font-size: 1.8rem;
    color: var(--TextColorLightPurple);
    margin-bottom: 10px;
  }
  
  .achievement-card h3 {
    font-size: 1.2rem;
    color: var(--TextColorWhite);
    margin-bottom: 10px;
  }
  
  .achievement-card p {
    font-size: 0.9rem;
    line-height: 1.6;
  }
  
  .achievement-card ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .achievement-card ul li {
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    .achievement-container {
      flex-direction: column;
      align-items: center;
    }
  }